@charset "utf-8";

html {
font-size: 62.5%;
}

@mixin fontsize($size: 24, $base: 10) {
font-size: $size + px;
font-size: ($size / $base) * 1rem;
}

$ja_font : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
$wh_gray_bg : #f9f8f6;
$dark_brown : #887f69;
$light_brown : #e2ddd4;
$gray : #b0b0b0;
$dark_red : #9d1a2d;

// @include fontsize(x);
/**************************************/

.owl-nav{
  display: none;
}

body{

  background-color: $wh_gray_bg;
}

a img:hover{

  opacity: 0.8 ;

}

a{
  color: $dark_brown;
}

a:hover{
  color: $light_brown;
}

header{

  h1{

    text-align: center;
    padding: 10px 0 5px 0;
    margin: 0;

    img{
      width:110px;
      height: auto;
    }

  }

  .menu{
    text-align: center;

    position: relative;
  }

  .sp_menu{

    list-style: none;
    display: inline-block;
    margin: 0 auto;

    li{

      display: inline-block;
      float: left;
      padding: 0 5px;
    }

  }
  // .sp_menu


  .pc_menu{

    display: none;
  }

  @media (min-width: 550px) {

    h1{

      text-align: left;
      padding: 20px 0 20px 0;

      img{
        width:142px;
        height: auto;
      }
    }

    .sp_menu{display: none;}

    .menu{
      text-align: right;
    }

    .pc_menu{
      display: inline-block;
      list-style: none;
      margin-top: 40px;

      li{
        float: left;
        padding-right: 15px;

      }

      .social{
        padding-right: 8px;
      }

    }

  }
  // min-width: 550px

}

// header

.toggle{

  position:relative;
  display: none;
  z-index: 100;
  padding-bottom: 20px;

  .sp_menu_toggle{

    // position: absolute;

    margin: 0;
    padding: 5px 0;
    width: 100%;

    background-color: #ff6d77;
    list-style: none;
    // position: absolute;
    // @include fontsize(15);

    li{

      margin: 10px;
      border-bottom: 1px solid white;
      padding: 3px 3px 10px 3px;

      a{
        color: white;
        text-decoration: none;
      }

    }
    li:last-child{
      border-bottom: 0;
    }

  }

  @media (min-width: 550px) {

    .sp_menu_toggle{display: none;}
  }
}

/**************************************/

.wh_bg_box{

  background-color: white;
  padding: 15px;
  margin-bottom: 10px;

  h3{
    color: $dark_brown;
    @include fontsize(16);
    font-weight: bold;
    margin: 0 0 10px 0;
  }

  h4{
    color: $dark_brown;
    @include fontsize(12);
    font-weight: bold;
    margin: 0 0 5px 0;
  }

  p{
    @include fontsize(12);
    margin: 0 0 5px 0;
  }
}

/**************************************/

#maincontents{

  #eyecatch{

    .owl-controls{
    }

    .owl-dots{
      //text-align: left;
      position: relative;
      top: 0;
    }

    .owl-dots .owl-dot{
      display: inline-block;

      span{
        display: block;
        border-radius: 0;
        width: 25px;
        height: 2px;
        margin: 0 8px 0 0;
        background-color: #aaaaaa;
      }

    }

    .active span{
      background-color: $dark_red !important;
    }

  }

  .sp_title{

    text-align: center;
    padding: 10px 0;
  }

  .pc_title{
    display: none;
  }

  @media (min-width: 550px) {

    .sp_title{

      display: none;
    }

    .pc_title{
      display: block;
      padding: 20px 0;
    }

  }
  // min-width: 550px

  .pro_box{
    width:99%;
    float: left;
    @include fontsize(11);
    padding-right: 1%;



    .pro_box_in{

      background-color: white;
      padding: 10px 10px 18px 10px;
    }

    .pro_title{
      @include fontsize(11);
      padding-top: 10px;

      a{
        color: black;
        text-decoration: none;
      }

    }

    .price{
      margin-top: 10px;
    }
  }
  // .pro_box

  @media (min-width: 550px) {

    .pro_all{
      width: 100%;

      display: flex;
      flex-wrap:wrap;
    }

    .pro_box{
      width: 32%;
      padding-right: 2px;
      margin-bottom: 1px;
    }
  }
  // min-width: 550px

  @media (min-width: 1000px) {
    .pro_box{
      width: 33%;

      display: flex;
      flex-wrap:wrap;
    }

  }

  .owl-controls{
    margin-top: 5px;
  }

  #guide{

    .columns{
      width: 100%;
    }

    @media (min-width: 550px) {

      display: flex;

      .columns{
        margin: 0;
        width: 49.7%;
      }
      .columns:last-child{
        margin-left: 2px;
      }
    }
    // min-width: 550px

  }

}
// #maincontents

#sidemenu{


  margin-top: 10px;

  .search_title{
    display: none;
  }

  @media (min-width: 550px) {

    margin-top: 0;

    .search_title{
      display: block;
      padding-bottom: 5px;
    }

  }
  // min-width: 550px

  #search{
    margin: 0;

    #searchInput{
      margin-bottom: 0px;
      border-radius: 0;
      border: 0;
      @include fontsize(11);
      background-color: #eee;
      background-image: url(../images/top/search_icon.png);
      background-position: 95% center;
      background-repeat: no-repeat;

      font-style: italic;

    }

  }

  a.sidebar_menu_link{
    display: block;
    background-color:#887f69;
    color: white;
    padding: 15px;
    @include fontsize(12);
    font-weight: bold;
    text-decoration: none;

    background-image: url(../images/top/next_icon.png);
    background-position: 95% center;
    background-repeat: no-repeat;

    margin-bottom: 10px;
  }

  a.sidebar_menu_link:hover{
    background-color:#e2ddd4;
  }
  // sidebar_menu_link

  .brown_title_down{
    display: block;
    background-color:#887f69;
    color: white;
    padding: 15px;
    @include fontsize(12);
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 0.1rem;
    margin: 0;

    background-image: url(../images/top/down_icon.png);
    background-position: 95% center;
    background-repeat: no-repeat;
  }
  // .brown_title

  .brown_title{

    display: block;
    background-color:#887f69;
    color: white;
    padding: 15px;
    @include fontsize(12);
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 0.1rem;
    margin: 0;

  }
  // .brown_title

  .sidebar_menu{

    margin-bottom: 10px;

    ul{margin: 0;padding: 0;}
    li,a{margin: 0;padding: 0;display: block;}

    a{
      padding:15px 12px;
      color: black;
      text-decoration: none;
      background-color: white;
      margin-bottom: 1px;
      @include fontsize(12);

      background-image: url(../images/top/next_icon_gray.png);
      background-position: 95% center;
      background-repeat: no-repeat;
    }

    a:hover{
      background-color: #eee;
    }


  }
  // .sidebar_menu

  .side_left,.side_right{
    width: 48%;
  }

  .side_left{
    float: left;
  }

  .side_right{
    float: right;
  }


  .more_btn{
    text-align:left;
  }

  @media (min-width: 550px) {

    .more_btn{
      text-align:center;
      margin-top: 15px;
    }

    .side_left,.side_right{
      width: 100%;
      float: none;
    }

  }
  // min-width: 550px


}

/**************************************/

footer{

  .pagetop{
    text-align: center;
    padding: 20px 0;

    @media (min-width: 550px) {
      text-align: right;
    }
  }

  .foot_navigation{
    text-align: center;
    padding: 20px 0 10px 0;
    border-top: 1px solid $light_brown;

    a{
      color: black;
      text-decoration: none;
      @include fontsize(11);
    }

  }
  // .foot_navigation

  .copyright{
    @include fontsize(10);
    text-align: center;
    padding-bottom: 40px;
    color: #b8b4ac;
  }


}
// footer

/******************************/
// list.html
/******************************/

#maincontents{

  .breadcrumb{
    -webkit-border-radius: 3px;
  	-moz-border-radius: 3px;
  	border-radius: 3px;
  	background-color: #e8e4da;

    color: #abb4bf;
    padding: 10px 10px 10px 30px;
    @include fontsize(11);
    margin-bottom: 10px;

    background-image: url(../images/list/home_icon.png);
    background-repeat: no-repeat;
    background-position: 10px 12px;

    a{
      color: $dark_brown;
      text-decoration: none;
    }

    a:hover{
      color: $gray;

    }
  }

  .category_image_sp{
    margin-bottom: 8px;
  }

  .category_image{ display: none; }

  @media (min-width: 550px) {

    .category_image_sp{ display: none; }

    .category_image{
      display: block;
      margin-bottom: 6px;
    }

  }
  // min-width: 550px

  .pro_list_all{

    display: flex;
    flex-wrap:wrap;
    width: 100%;

    .pro_box{
      width: 49%;
      margin-bottom: 2px;
    }

    @media (min-width: 550px) {

      .pro_box{
        width: 32%;
        padding-right: 2px;
        margin-bottom: 1px;
      }

    }
    // min-width: 550px

    @media (min-width: 1000px) {
      .pro_box{
        width: 33%;

        display: flex;
        flex-wrap:wrap;
      }

    }
    // min-width: 1000px

  }

  .list_pagenavi{

    margin: 20px 0;
    width: 100%;

    ul{
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li{
      margin: 0; padding: 0;
    }

    a{
      display: block;
      background-color: $dark_brown;
      color: #fff;
      text-decoration: none;
      width: 121px;
      padding: 10px 0;
      text-align: center;
      @include fontsize(14);
      font-weight: bold;
      letter-spacing: 0.1rem;
    }

    a:hover{
      background: $light_brown;
    }

    .back_btn{
      float: left;
    }

    .next_btn{
      float: right;
    }

  }
  // .list_pagenavi

}
// #maincontents

/******************************/
// products.html
/******************************/

.products_all{
  padding: 0;

  #sidemenu,.pro_con_padding{
    padding: 0 20px;
  }
}

.products_info_box{

  background-color: white;
  padding: 10px 20px;
  margin-bottom: 10px;

  @media (min-width: 550px) {
    padding: 40px 60px;
  }
  // min-width: 550px


}

@media (min-width: 550px) {

  .products_all{

    #sidemenu,.pro_con_padding{
      padding: 0 0px;
    }
  }


}

#maincontents{

  .products_name{
    @include fontsize(14);
    font-weight: bold;
    margin-top: 5px;
  }

  .products_num{
    @include fontsize(10);
    padding-top: 3px;
    color: $gray;
    text-align: left;
  }


  .p_title{
    border-bottom: 1px solid $light_brown;
    padding-bottom: 10px;
  }


  @media (min-width: 550px) {

    .products_name{
      @include fontsize(14);
      font-weight: bold;
      margin-top: 0px;
    }

    .products_num{
      @include fontsize(10);
      padding-top: 3px;
      color: $gray;
      text-align: right;
    }

    .p_title{
      padding-bottom: 30px;
    }

  }
  // min-width: 550px

  .pro_imgs{
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $light_brown;
    margin-bottom: 10px;

    @media (min-width: 550px) {
      margin-top: 20px;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }

    .pro_img_lists{
      list-style: none;
      margin: 0;
      padding: 0;

      display: flex;
      flex-wrap: wrap;

      li{
        margin: 0;
        padding: 0;
        width: 19%;
        padding: 0 0 1% 1%;

      }

      li:first-child{
        padding: 0 0 1% 0;
      }

      li:nth-child(6){
        padding: 0 0 1% 0;
      }

      img{
        float: left;
        cursor: pointer;
      }

      @media (min-width: 550px) {

        li{
          margin: 0;
          padding: 0;
          width: 48%;
          padding: 0 0 2% 2%;

        }

        li:first-child{
          padding: 0 0 2% 2%;
        }

        li:nth-child(6){
          padding: 0 0 2% 2%;
        }

        li:nth-child(odd){

          padding: 0 0 2% 0;
        }


      }
      // min-width: 550px

    }
    // pro_img_lists
  }
  // .pro_imgs


  @media (min-width: 550px) {
  .pro_imgs{
      .eight.columns{
        width:70.333333%;
      }

      .four.columns{
        margin-left: 1.3%;
        width: 28.366667%;
      }
    }
    // pro_imgs
  }
  // min-width: 550px



  #pro_info{

    @media (min-width: 550px) {
      border-bottom: 1px solid $light_brown;
    }

    @media (max-width: 1000px) {
      .seven.columns,
      .five.columns{
        width: 100%;
      }
    }

    input[type="radio"]{
      display: inline-block;
      -webkit-appearance: none;
      width:15px !important;
      height:15px;
      border:2px solid $dark_brown;
      border-radius:15px;
      background:transparent;
      opacity:0.5;
      width:100%;
      margin-bottom: 0;
      // display: inline-block;
      // -webkit-appearance: none;
      // width:15px;
      // height:15px;
      // border:1px solid $dark_brown;
      // border-radius:2px;
      // background:transparent;
      // opacity:0.5;
    }
    input[type="radio"]:checked{
      display: inline-block;
      // background: $light_brown;
      // opacity:1;

      background:$light_brown;
      opacity:1;
    }

    .option_tbl{
      margin-top: 10px;
      border-top: 1px solid $light_brown;
      border-left: 1px solid $light_brown;
      margin-bottom: 20px;

      th,td{
        padding: 10px 0;
        text-align: center;
        @include fontsize(12);
        font-weight: normal;
        color: $dark_brown;
        border-bottom: 1px solid $light_brown;
        border-right: 1px solid $light_brown;
      }

      th{
        background-color: #f9f9f5;
      }
    }
    // .option_tbl

    .price_tbl{

      margin-bottom: 20px;

      @media (min-width: 550px) {
        margin-bottom: 0;
      }

      .price{
        border-top: 1px solid $light_brown;
        border-bottom: 1px solid $light_brown;
      }

      span.price_red{
        color:#e80f66;
        @include fontsize(22);

        .mini{
          @include fontsize(14);
        }
      }

      td.price{
        font-style: italic;
        @include fontsize(14);
      }

      .quantity{
        border-bottom: 1px solid $light_brown;
      }

      @media (min-width: 550px) {

        .quantity{
          border-bottom: 0;
        }
      }
      // min-width: 550px

      td.quantity input{
        margin-bottom: 0;
      }

    }
    // .price_tbl

    .add_cart{

      text-align: center;
      margin-bottom: 20px;
    }

  }
  // #pro_info

  .explain_title{

    @include fontsize(16);
    color: $dark_brown;
    font-weight: bold;
    border-bottom: 1px solid $dark_brown;
    padding-bottom: 15px;
    margin-bottom: 15px;

    @media (min-width: 550px) {

      margin-top: 20px;

    }
    // min-width: 550px

  }

  .explain_info{

    @include fontsize(14);
    line-height: 160%;

    .exp_title{

      @include fontsize(16);
      margin-bottom: 10px;
      font-weight: bold;
      color: $dark_brown;

      @media (min-width: 550px) {

        margin-top: 20px;
        margin-bottom: 20px;

      }
      // min-width: 550px

    }

    .exp_tbl{
      margin-top: 10px;
      border-top: 1px solid $light_brown;
      border-left: 1px solid $light_brown;
      margin-bottom: 20px;

      @media (min-width: 550px) {

        margin-top: 30px;
        margin-bottom: 30px;

      }
      // min-width: 550px

      th,td{
        padding: 10px 10px;
        text-align: left;
        @include fontsize(12);
        font-weight: normal;
        color: $dark_brown;
        border-bottom: 1px solid $light_brown;
        border-right: 1px solid $light_brown;

      }

      th{
        background-color: #f9f9f5;
        text-align: center;

      }
    }

  }



}
// #maincontents
